lenap<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eric & Ali's Wedding</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script data-main="js/main" src="lib/require.js"></script>

  </head>
  <body>

    <div class="counter" style="position:absolute; top:10px; right:15px; z-index:2000;"></div>

    <div class="header box-shadow">
        <div class="header-btn">Home</div>
        <div class="header-btn">Venue</div>
        <div class="header-btn">Pictures</div>
        <div class="header-btn">Gifts</div>
    </div>

    <div class="cover-image box-shadow">
        <img src="/images/cover.JPG" style="width:100%;"/>
    </div>

    <div class="background-image">
        <div class="background-fade">
            <div class="background-top-label">Eric & Ali</div>
        </div>
        <img src="/images/background.JPG"/>
    </div>

    <div class="text-panel" style="top:300px; left:100px; width:300px;">
        <div>
            <div class="text-panel-title" style="color:#222; font-size:14px; display:inline-block;">Join us</div>
            <div class="text-panel-title" style="color:#62c990; font-size:40px; display:inline-block;">9/23/17</div>
        </div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

    <div class="text-panel" style="top:300px; right:100px; width:300px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

  </body>
</html>
