@font-face {
    font-family: autumnFont;
    src: url('../fonts/AutumninNovember.ttf');
}

@font-face {
    font-family: moonfishFont;
    src: url('../fonts/moonfish.otf');
}

html,
body {
    width: 100%;
    color: #333;
}

.counter {
    position: fixed;
    bottom: 15px;
    left: calc(50% - 220px);
    z-index: 2000;
    font-size: 15px;
    font-family: moonfishFont;
    color: #333;
    padding: 6px 15px 0px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.counter .numCount {
    font-size: 26px;
    font-weight: bold;
    font-family: autumnFont;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    color: #333;
    /*float: left;*/
}

.background-image {
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 150px;
    top: 0px;
    overflow: hidden;
}
.background-fade {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.background-image img {
    width: 1500px;
    z-index: 900;
    position: absolute;
    top: -575px;
    right: 0px;
}
.background-image .background-top-label {
    color: #111;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    font-family: autumnFont;
    margin-top: 30px;
}

/*body {
    background: #002040;
    background: -webkit-linear-gradient(#003973, #002040);
    background: -o-linear-gradient(#003973, #002040);
    background: -moz-linear-gradient(#003973, #002040);
    background: linear-gradient(#003973, #002040);
}*/

.header {
    position: absolute;
    width: 100%;
    background-color: #62c990;
    color: #fff;
    height: 50px;
    text-align: center;
    z-index: 1000;
    top: 150px;
}
.header.fixed {
    position: fixed;
    top: 0px;
}

.header-trim {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100%;
    height: calc(100% - 6px);
    /*border-top: 2px dashed #fff;*/
    /*border-bottom: 2px dashed #fff;*/
}

.header-container {
    position: absolute;
    top: 0px;
    /*left: calc(50% - 100px);*/
    width: 100%;
    text-align: center;
}

.header-btn {
    padding-top: 2px;
    width: 200px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    font-family: moonfishFont;
}
.header-btn:hover {
    text-decoration: underline;
}

.home-btn {
    position: absolute;
    left: 10px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    color: #36b970;
    font-size: 28px;
}

.cover-image {
    margin-top: 130px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: calc(50% - 200px);
}
.cover-image img {
    width: 100%;
}

.text-panel {
    position: absolute;
    padding: 10px 15px;
    border-radius: 6px;
}

.text-panel-title {
    font-family: autumnFont;
}

.banner {
    top: 470px;
    position: absolute;
    z-index: 1000;
    left: 50%;
    display: block;
}

.banner-center {
  top: 0px;
  position: absolute;
  z-index: 2000;
  left: 50%;
  display: block;
  margin: 100px -200px;
  padding-top: 8px;
  width: 400px;
  height: 60px;
  /*border: 1px solid #4ea073;*/
  font-family: 'autumnFont';
  font-size: 46px;
  text-align: center;
  color: #fff;
  background: #62c990;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
}
.banner-left::before,
.banner-right::after {
  content: '';
  position: absolute;
  z-index: 1999;
  left: -230px;
  top: 115px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid #4ea073;
  border-right: 20px solid #62c990;
  border-bottom-color: #62c990;
  border-left-color: transparent;
  transform: rotate(-5deg);
}
.banner-right::after {
  left: auto;
  right: -230px;
  border-left: 20px solid #62c990;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.tabard-image {
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 350px;
    top: 700px;
    overflow: hidden;
}
.tabard-fade {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(230, 230, 230, 0.3);
    text-align: center;
}
.tabard-image img {
    width: 1500px;
    z-index: 900;
    position: absolute;
    top: -525px;
    right: 0px;
}
.tabard-image .tabard-top-label {
    color: #222;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    font-family: autumnFont;
    margin-top: 30px;
}

.fa-angle-left,
.fa-angle-right {
    cursor: pointer;
    color: #999;
}
.fa-angle-left:hover,
.fa-angle-right:hover {
    cursor: pointer;
    color: #222;
}



/* GLOBAL STUFF */

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-shadow {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    outline: none;
}

.text-shadow {
    text-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

/* Scrollbar Theme: "persisted-minimal-dark" */
.mCSB_outside + .mCS-persisted-minimal-dark.mCSB_scrollTools_vertical{
	right: 0;
	margin: 5px 0;
}

/*.mCS-persisted-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }*/

.mCS-persisted-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger{ height: 50px; }

.mCS-persisted-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger{ width: 50px; }

.mCS-persisted-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #000; background-color: rgba(0,0,0,1);
	filter: "alpha(opacity=20)"; -ms-filter: "alpha(opacity=20)";
}

.mCS-persisted-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-persisted-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #000; background-color: rgba(0,0,0,1);
	filter: "alpha(opacity=50)"; -ms-filter: "alpha(opacity=50)";
}
